* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
  cursor: pointer;
  font-family: sans-serif;
}
/* coman classes */
.text-orange {
  color: orange;
}
.text-white {
  color: white;
}
.bg-orange {
  background-color: orange;
  transition: all 0.4s;
  padding: 6px 15px;
}
.bg-orange:hover {
  background-color: black;
  color: white;
}
/* coman classes */
/* body{
  background-image: url(/img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
.main {
  padding: 15px 20px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
nav .nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav .logo {
  font-size: 30px;
  font-weight: 500;
}
.mobile-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav .nav-btn {
  font-size: 22px;
}
nav .mobile-nav ul a {
  font-size: 18px;
  color: black;
}
.nav-form {
  display: flex;
}
.mobile-nav .nav-form input {
  border: 1px solid orange;
  padding: 10px 8px;
  width: 100%;
}
.home-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.home-section .home-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}
.home-content p,
button {
  font-size: 16px;
  width: fit-content;
}
form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 70vh;
}