* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
  font-family: sans-serif;
  background-color: transparent;
}
/* coman classes */
.text-orange {
  color: orange;
}
.text-white {
  color: white;
}
.btn1 {
  color: white;
  background-color: orange;
  transition: all 0.4s;
  padding: 6px 15px;
}
.bg-orange:hover {
  background-color: black;
  color: white;
}
.container {
  padding: 15px 5vw;
}
/* coman classes */
 .main{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh; 
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

nav .logo {
  font-size: 30px;
  font-weight: 500;
}
nav .nav-btn {
  font-size: 22px;
}
.mobile-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;

}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav .mobile-nav ul a {
  font-size: 18px;
  color: white;
}

.nav-form {
  display: flex;
}

.mobile-nav .nav-form input {
  border: 1px solid orange;
  padding: 10px 8px;
  color: white;
  width: 240px;
}

.home-section {
  display: flex;
  justify-content: space-between;
  min-height: 88vh;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.home-section .home-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;

}
.home-content button {
  font-size: 15px;
  width: fit-content;
  border-radius: 8px;
  padding: 10px 15px;
}
.home-content p {
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  gap: 30px;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
}
.form-inputs {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  width: 100%;
}
.form-input input {
  border: 1px solid white;
  padding: 10px 15px;
  width: 100%;
  color: white;
  border-radius: 8px;
}
.form-input input::placeholder {
  color: white;
}
form h3 {
  font-size: 28px;
  width: fit-content;
  border-radius: 8px;
}

form .form-input p {
  font-size: 13px;
}
form a {
  color: skyblue;
}
.form-input .form-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
  width: 100%;
}
.form-user input {
  padding: 10px 20px;
  border-radius: 8px;
  width: 90%;
}
.form-user div {
  width: 90%;
}
form a {
  font-size: 14px;
}
form p {
  color: white;
  font-size: 17px;
}
.form-icon {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 24px;
  color: white;
}

@media (min-width: 992px) {
  .nav-btn {
    display: none;
  }
  .mobile-nav {
    margin-top: 0;
    gap: 0;
    flex-grow: 1;
    width: auto;
    flex-direction: row;
    align-items: center;
  }
  .mobile-nav ul {
    flex-direction: row;
    margin: auto;
  }
  .home-section {
    flex-direction: row;
  }
  .home-content {
    width: 100%;
    max-width: 700px;
  }
  form {
    max-width: 400px;
  }
}
